@import url('https://fonts.googleapis.com/css2?family=Rubik:wgth@300;400;500&display=swap');

:root {
    --corprincipal: #ffc7f9;
    --corsecundaria: #caf9ff;
    --cortiulo: #7c0160;
    
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    
}
body{
    background-color: var(--corsecundaria);
}
.cabecalho h1{
    text-align: center;
    color: var(--cortitulo);

}
.cabecalho img{
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;

}
.container-input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}
.container-input .input {
    width: 400px;
    height: 50px;
}
#area_texto_entrada{
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--cortitulo);
    background: #f4f5f4;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
}
.logo_edir{
    padding-top: 10px;
    margin-left: 150px;
    width: 50%;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 10px;

}
.area_texto_entrada{
    background-color: #f4f5f4;
    
}

#output{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--cortitulo);
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3%;
}
#output h2{
    text-align: center;
    font-size: 25px;
    color: var(--cortitulo);
}
#output span{
    font-size: 16;
    text-align: center;

}
#output img{
    max-width: 300px;
    max-width: 300px;
    width: auto;
    height: auto;
    margin-top: 4%;

}
.container-bnt button{
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: #7c0160;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;

}

.botao_copia{
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: #7c0160;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;

}
.container-bnt button:hover{
    border: 2px solid var(--corsecundaria);
    transition: 0.5s all;
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    background: var(--corprincipal);
    color: var(--cortitulo);

}
.rodape h3{
    font-size: 16px;
}
.icons ion-icon{
    width: 25px;
    height: 25px;
    color: var(--cortitulo);
}
.icons ion-icon:hover{
    color: var(--corsecundaria);
}